<div class="register-page">
  <h2>Register</h2>
  <form [formGroup]="registerForm">
    <div>
      <div class="justify-content-center">
        <div></div>
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput
                 formControlName="email">
        </mat-form-field>
      </div>
      <div class="justify-content-center">
        <div></div>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput
                 formControlName="username">
        </mat-form-field>
      </div>
      <div class="justify-content-center">
        <div></div>
        <mat-form-field appearance="outline">
          <mat-label>Firstname</mat-label>
          <input matInput
                 formControlName="firstname">
        </mat-form-field>
      </div>
      <div class="justify-content-center">
        <div></div>
        <mat-form-field appearance="outline">
          <mat-label>Lastname</mat-label>
          <input matInput
                 formControlName="lastname">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password"
                 formControlName="password">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>ConfirmPassword</mat-label>
          <input matInput type="password"
                 formControlName="confirmPassword">
        </mat-form-field>
      </div>


        <button style="width: 15rem" [disabled]="registerForm.invalid" (click)="submit()" mat-flat-button color="primary">
          Register
        </button>
<h6></h6>
        <a routerLink="/login">Login</a>

    </div>
  </form>
</div>
