<div *ngIf="isPostsLoaded && isUserDataLoaded" class="index-page">
  <mat-card class="post-card" *ngFor="let post of posts; let i = index">
    <mat-card-header style="text-align: left">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.location}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="formatImage(post.image)" alt="post image">
    <mat-card-subtitle align="start">Posted by {{post.username}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{post.caption}}</p>
    </mat-card-content>

    <mat-card-actions align="start">

      <button *ngIf="isUserDataLoaded" mat-button (click)="likePost(post.id, i)" [ngClass]="post.usersliked.indexOf(user.username) !== -1 ? 'is-liked' : 'not-liked'">
        <mat-icon>favorite</mat-icon> Like</button>
    </mat-card-actions>

    <div style="text-align: left">
      <p *ngFor="let comment of post.comments"><span style="font-weight: 500">{{comment.username}}</span>: {{comment.message}}</p>
    </div>
  </mat-card>
</div>
